
nav{
    display: flex;
    padding: 0 8px;
    align-items: center;
    height: 72px;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 24px;
    font-weight: 500;
    list-style: none;
}